{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> الرئيسية</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div class="up">
        <a href="{% url 'create_event' %}">انشاء حدث جديد</a>
    </div>

    <div class="content">

        
        
        {% for event in events %}
            <div class="box">
                <p>{{event.name}}</p>
                <a href="{% url 'event_details' event.uuid %}">تفاصيل</a>
                <div class="date" style="direction: rtl;">سوف يبدأ الحدث في {{event.start_at}}</div>
            </div>
        {% endfor %}

    </div>

</body>
</html>