{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> الرئيسية</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div class="up">
        <a href="#">انشاء حدث جديد</a>
    </div>

    <div class="content">

        <div class="box">
            <p>اسم الحدث</p>
            <a href="#">تفاصيل</a>
            <div class="date">سوف يبدأ الحدث في 22/3/2022</div>
        </div>
        
        <div class="box">
            <p>اسم الحدث</p>
            <a href="#">تفاصيل</a>
            <div class="date">انتهي الحدث</div>
        </div>

        <div class="box">
            <p>اسم الحدث</p>
            <a href="#">تفاصيل</a>
            <div class="date">سوف يبدأ الحدث في 22/3/2022</div>
        </div>

        <div class="box">
            <p>اسم الحدث</p>
            <a href="#">تفاصيل</a>
            <div class="date">سوف يبدأ الحدث في 22/3/2022</div>
        </div>


    </div>

</body>
</html>